###################################################################################################
# A sample .env file for the telemetry service.
#
# You can use this to create your own ".env" file that the telemetry service will use. Note that
# env vars will override these files.
###################################################################################################

PORT=8080
